# Секретный ключ Django
# Замените данный шаблон на сгенерированный ключ. 
# Используйте генератор секретных ключей Django или аналогичный инструмент.
SECRET_KEY_DJANGO = "django-insecure-..."
# Конфигурация базы данных
# Хост базы данных PostgreSQL. Обычно "localhost" для локальной разработки.
DB_HOST="localhost"

# Порт, на котором работает база данных PostgreSQL. По умолчанию 5432.
DB_PORT="5432"

# Название базы данных, к которой подключается проект.
DB_NAME="postgres"

# Имя пользователя для подключения к базе данных.
DB_USER="postgres"

# Пароль для указанного пользователя. Убедитесь, что этот пароль хранится в безопасности.
DB_PASSWORD="..."


# Дополнительные настройки:
# Режим отладки (DEBUG) для Django. Установите False для продакшн среды.
DEBUG=True  # Поменяйте на False в продакшене


# Сервера популярных почтовых сервисов. Например, "smtp.yandex.ru".
# Раскомментируйте нужный SMTP-сервер.

# Сервер Яндекс.Почты:
EMAIL_HOST = 'smtp.yandex.ru'
EMAIL_PORT = 465
# Сервер Gmail:
# EMAIL_HOST = 'smtp.gmail.com'
# EMAIL_PORT = 587
# Сервер Mail.ru:
# EMAIL_HOST = 'smtp.mail.ru'
# EMAIL_PORT = 2525

# Протокол подключения. Используйте TLS или SSL.
EMAIL_USE_TLS = False # False\True
EMAIL_USE_SSL = False # False\True

# Логин и пароль для подключения к почтовому сервису.
EMAIL_HOST_USER = 'your_email@domain.ru'
EMAIL_HOST_PASSWORD = '...'

# Адрес Redis для cache проекта.
REDIS_URL = 'redis://localhost:6379' # По умолчанию 'redis://127.0.0.1:6379' или используйте 'redis://user:password@127.0.0.1:6379'
