{% extends 'mailing/base.html' %}

{% block title %}Управление рассылками{% endblock %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Подтверждение выполнения рассылки</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="btn btn-outline-primary m-1">Подтвердить выполнение
                рассылки
            </button>
        </form>

        <a class="btn btn-outline-primary m-1" href="{% url 'mailing:mailing_update' object.pk%}">Изменить</a>
        <a class="btn btn-outline-danger m-1" href="{% url 'mailing:mailing_delete' object.pk%}">Удалить</a>
    </div>
</div>


<div class="container text-start">
    <div class="row align-items-start">

        <div class="col-4">
            <div class="row">
                <div class="col-12">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-body-secondary">Тема</h6>
                            <h5 class="card-title">{{ object.message }}</h5>

                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-12">
                    <div class="card mb-4 box-shadow">
                        <div class="card-body">
                            <h6 class="card-subtitle mb-2 text-body-secondary">Сообщение</h6>
                            {{ object.message.message }}
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-4 d-flex">
            <div class="card mb-4 box-shadow w-100">
                <div class="card-header">
                    Получатели
                </div>
                <ul class="list-group list-group-flush">
                    {% for recipient in object.recipients.all %}
                    <li class="list-group-item">{{ recipient.email }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <div class="col-4 d-flex">
            <div class="card mb-4 box-shadow w-100">
                <div class="card-body">
                    <h5 class="card-title">Параметры рассылки</h5>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Дата и время первой отправки</h6>
                    <p class="card-text">{{ object.first_send_at }}</p>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Дата и время окончания отправки</h6>
                    <p class="card-text">{{ object.finish_send_at }}</p>
                    <h6 class="card-subtitle mb-2 text-body-secondary">Статус</h6>
                    <p class="card-text">{{ object.status }}</p>

                </div>
            </div>
        </div>

    </div>
</div>


{% endblock %}