{% extends 'mailing/base.html' %}

{% block title %}Управление рассылками{% endblock %}

{% block content %}

{% if object %}
<h2>Изменить рассылку</h2>
{% else %}
<h2>Добавить рассылку</h2>
{% endif %}


<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}

    {% if object %}
    <button type="submit" class="btn btn-outline-primary">Изменить</button>
    {% else %}
    <button type="submit" class="btn btn-outline-primary">Добавить</button>
    {% endif %}

</form>

{% endblock %}