{% extends 'mailing/base.html' %}

{% block title %}Рассылаемые сообщения{% endblock %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Рассылаемые сообщения</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a class="btn btn-outline-primary" href="{% url 'mailing:message_create' %}">Добавить</a>
    </div>
</div>


<div class="table-responsive small">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col" >Тема письма</th>
            <th scope="col">Тело письма</th>
        </tr>
        </thead>
        <tbody>
        {% for message in object_list %}
        <tr>
            <td>{{ message.id }}</td>
            <td style="width: 20vh;">{{ message.title }}</td>
            <td>{{ message.message }}</td>
            {% if message.owner == user %}
            <td class="text-end" style="width: 20vh;">
                <a class="btn btn-outline-primary" href="{% url 'mailing:message_update' message.pk%}">Изменить</a>
                <a class="btn btn-outline-danger" href="{% url 'mailing:message_delete' message.pk%}">Удалить</a>
            </td>
            {% else %}
            <td class="text-end" style="width: 20vh;"></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}