{% extends 'mailing/base.html' %}

{% block title %}Получатели рассылки{% endblock %}

{% block content %}

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Получатели рассылки</h2>
    <div class="btn-toolbar mb-2 mb-md-0">
        <a class="btn btn-outline-primary" href="{% url 'mailing:recipient_create' %}">Добавить</a>
    </div>
</div>


<div class="table-responsive small">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">id</th>
            <th scope="col">Почта</th>
            <th scope="col">ФИО</th>
            <th scope="col">Комментарий</th>
        </tr>
        </thead>
        <tbody>
        {% for recipient in object_list %}
        <tr>
            <td>{{ recipient.id }}</td>
            <td>{{ recipient.email }}</td>
            <td>{{ recipient.full_name }}</td>
            <td>{{ recipient.comment }}</td>
            {% if recipient.owner == user %}
            <td class="text-end" style="width: 20vh;">
                <a class="btn btn-outline-primary" href="{% url 'mailing:recipient_update' recipient.pk%}">Изменить</a>
                <a class="btn btn-outline-danger" href="{% url 'mailing:recipient_delete' recipient.pk%}">Удалить</a>
            </td>
            {% else %}
            <td class="text-end" style="width: 20vh;"></td>
            {% endif %}
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}