{% extends 'base.html' %}

{% block title %}MahiruStore - Восстановление пароля{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">
        Восстановление пароля
    </h1>
</div>
<div class="container text-center">
    <h4>Пароль успешно восстановлен</h4>
    <p class="lead">Ваш пароль был сохранен. Теперь вы можете войти.</p>
    <a href="{% url 'login' %}" class="btn btn-primary">Войти</a>
</div>
{% include 'includes/modal_user.html' %}
{% include 'includes/toast.html'%}
{% endblock %}
