{% extends 'base.html' %}

{% block title %}MahiruStore - Восстановление пароля{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">
        Восстановление пароля
    </h1>
</div>
<div class="container text-center">
    <h4>Письмо с инструкциями по восстановлению пароля отправлено</h4>
    <p class="lead">Мы отправили вам инструкцию по установке нового пароля на указанный адрес электронной почты (если в нашей базе данных есть такой адрес). Вы должны получить ее в ближайшее время.</p>
    <p class="lead">Если вы не получили письмо, пожалуйста, убедитесь, что вы ввели адрес с которым Вы зарегистрировались, и проверьте папку со спамом.</p>
</div>
{% include 'includes/modal_user.html' %}
{% include 'includes/toast.html'%}
{% endblock %}
