{% extends 'base.html' %}

{% block title %}MahiruStore - Восстановление пароля{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">
        Восстановление пароля
    </h1>
</div>
<div class="container">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Восстановить пароль</button>
        <a href="{% url 'login' %}" class="btn btn-secondary">Отмена</a>
    </form>
</div>
{% include 'includes/modal_user.html' %}
{% include 'includes/toast.html'%}
{% endblock %}
