{% extends 'mailing/base.html' %}
{% block content %}
{% load my_tags %}
<div class="container marketing mt-5">
    <div class="container text-center mt-3">
        <div class="row justify-content-center">
            <div class="col-4"></div>
            <div class="col-4">
                <h2>Рассылки</h2>
                {% if user.is_superuser or user|in_group:"Пользователи" %}
                    <a class="btn btn-success mt-3" href="{% url 'mailing:mailing_create' %}">Создать рассылку &raquo;</a></p>
                {% endif %}
            </div>
            <div class="col-4"></div>
        </div>

    </div>
    <div class="row">
        <div class="table-responsive small">
            <table class="table table-success table-striped">
                <thead>
                <tr>
                    <th>Сообщение</th>
                    <th>Время начала</th>
                    <th>Время окончания</th>
                    <th>Тема сообщения</th>
                    <th>Статус</th>
                    <th>Активность</th>
                    {% if user.is_superuser %}
                    <th>Создал</th>
                    {% endif %}
                    <th>Действия</th>
                </tr>
                </thead>

                {% for object in object_list %}
                <tr>
                    <td>{{ object.message|truncatechars:30 }}</td>
                    <td>{{ object.first_sending|date:"d M Y" }}</td>
                    <td>{{ object.end_sending|date:"d M Y" }}</td>
                    <td>{{ object.message.subject }}</td>
                    <td>{{ object.status }}</td>
                    <td>
                        {% if user.is_superuser or user|in_group:"Менеджеры" %}
                        {% if object.is_active %}
                                <a type="button" class="btn btn-danger btn-sm"
                                   href="{% url 'mailing:block_mailing' object.pk %}">Заблокировать</a>
                            {% else %}
                                <a type="button" class="btn btn-success btn-sm"
                                   href="{% url 'mailing:block_mailing' object.pk %}">Разблокировать</a>
                            {% endif %}
                        {% else %}
                        {{object.is_active|yesno:"Активна, Не активна"}}
                        {% endif %}
                    </td>
                    {% if user.is_superuser %}
                    <td>{{ object.owner }}</td>
                    {% endif %}
                    <td>
                        <a class="btn btn-primary btn-sm" href="{% url 'mailing:mailing_detail' object.pk%}">Посмотреть </a>
                        {% if user.is_superuser or user|in_group:"Пользователи" %}
                        <a class="btn btn-primary btn-sm" href="{% url 'mailing:mailing_update' object.pk%}">Редактировать</a>
                        <a class="btn btn-danger btn-sm" href="{% url 'mailing:mailing_delete' object.pk%}">Удалить</a>
                        {% endif %}
                        {% if user.is_superuser %}
                        <a class="btn btn-secondary btn-sm" href="{% url 'mailing:run_mailing' object.pk%}">Запустить &raquo;</a>
                        {% endif %}
                    </td>

                </tr>
                {% endfor%}
            </table>

        </div><!-- /.row -->
    </div><!-- /.container -->
</div>
{% endblock %}}
