{% extends 'mailing/base.html' %}

{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4"></h1>
</div>
<div class="alert alert-info" role="alert">
    <h4 class="row justify-content-center">Письмо подтверждения отправлено!</h4>
    <p>
        На адрес электронной почты было отправлено письмо с подтверждением. Пожалуйста, проверьте свою
        электронную почту и нажмите на ссылку подтверждения, чтобы завершить регистрацию.
        Если письмо не пришло, проверьте папку спам.
    </p>

    <div class="row justify-content-center">
        <div class="col-5"></div>
        <div class="col-3">
            <a class="btn btn-primary mt-1 " href="{% url 'mailing:index' %}" role="button">Ok</a>
        </div>
        <div class="col-4"></div>
    </div>

</div>
{% endblock %}