{% extends 'mailing/base.html' %}
{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Восстановление пароля</h1>

</div>
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <form method="post">
            <div class="d-grid gap-2 col-8 mx-auto mt-5">
                <p> На почту будет отправлено письмо с новым паролем</p>
                {% csrf_token %}
                {{ form.as_p }}
            </div>
            <div class="d-grid gap-2 col-4 mx-auto">
                <button type="submit" class="btn btn-dark mt-2 ">Восстановить пароль</button>
            </div>

        </form>
    </div>

</div>
{% endblock %}