{% extends 'mailing/base.html' %}
{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-6">
            <form class="row" method="post" enctype="multipart/form-data">
                <div class="card mt-3">
                    <div class="form-body">
                        {% csrf_token %}
                        {{ form.as_p }}
                    </div>

                    <button type="submit" class="btn btn-primary">
                        {% if not object %}
                        Зарегистрироваться
                        {% else %}
                        Сохранить
                        {% endif %}
                    </button>

                    {% if user.is_superuser%}
                        <a class="btn btn-primary mt-1" href="{% url 'users:users' %}" role="button">Отмена</a>
                    {% else %}
                        <a class="btn btn-primary mt-1" href="{% url 'mailing:index' %}" role="button">Отмена</a>
                    {% endif %}


                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}