<div class="modal fade" id="delete_message" tabindex="-1" aria-labelledby="delete_messageLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="delete_messageLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container">
                <div class="modal-body">
                    <h5> Вы действительно хотите удалить письмо - {{ message.topic_message }}? </h5>
                </div>
            </div>
            <div class="modal-footer mx-auto">
                <form method="post" action="{% url 'mailing_service:delete_message_views' message.id %}">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                    <button type="submit" class="btn btn-danger">Удалить</button>
                </form>
            </div>
        </div>
    </div>
</div>