<!-- detail_mailing.html -->
{% extends 'mailing_service/base.html' %}

{% block title %}Рассылка{% endblock %}

{% block content %}

<h1 class="text-center margin-top-main">Рассылка</h1>
<div class="row">
    <div class="d-flex justify-content-evenly" style="margin-bottom:20px">
        <div class="card text-center" style="width: 800px;">
            <h5 class="card-header"> {{ mailing.status }} </h5>
            <div class="card-body">
                <h5 class="card-title"> Тема письма - "{{ mailing.messages.topic_message }}" </h5>
                <p class="card-title"> {{ mailing.messages.message }} </p>
                <p class="card-text"> Получатели:{% for recipient in mailing.recipients.all %} <br>{{ recipient.full_name }} -
                    {{ recipient.email }}
                    {% endfor %} </p>
                {% if mailing.created_by == user %}
                <a href="{% url 'mailing_service:update_mailing_views' mailing.pk %}"
                   class="btn btn-outline-primary"
                   style="--bs-btn-padding-y: .35rem; --bs-btn-padding-x: 10.30rem; --bs-btn-font-size: 1.0rem;">
                    Редактировать</a>
                {% if mailing.recipients.all %}
                <form method="post" action="{% url 'mailing_service:send_mail_views' mailing.pk %}">
                    {% csrf_token %}
                    <button class="btn btn-outline-success mb-1 mt-1"
                            style="--bs-btn-padding-y: .35rem; --bs-btn-padding-x: 11.50rem; --bs-btn-font-size: 1.0rem;"
                            type="submit"> Рассылка
                    </button>
                </form>
                {% else %}
                <a href="openModal" data-bs-toggle="modal" class="btn btn-outline-warning mt-1 mb-1"
                   style="--bs-btn-padding-y: .35rem; --bs-btn-padding-x: 11.50rem; --bs-btn-font-size: 1.0rem;"
                   data-bs-target="#not_found_recipients"> Рассылка
                </a>
                {% include 'mailing_service/not_found_recipients.html' %}
                {% endif %}
                <a href="openModal" class="btn btn-outline-danger"
                   style="--bs-btn-padding-y: .35rem; --bs-btn-padding-x: 11.80rem; --bs-btn-font-size: 1.0rem;"
                   data-bs-toggle="modal"
                   data-bs-target="#delete_mailing">Удалить</a>
                {% include 'mailing_service/delete_mailing.html' %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}