<!--form_create_mailing-->
{% extends 'mailing_service/base.html' %}

{% block title %} Создать рассылку {% endblock %}

{% block content %}

<div class="container" style="margin-top:20px">
    <form class="form-control border" style="width: 600px" method="post" enctype="multipart/form-data">
        {% if mailing %}
        <h5 class="text-center border-bottom pb-2">Изменить рассылку</h5>
        {% else %}
        <h5 class="text-center border-bottom pb-2">Создать рассылку</h5>
        {% endif %}
        {% csrf_token %}
        {{ form.non_field_errors }}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary mt-2">Сохранить</button>
    </form>
</div>
{% endblock %}