<!-- home.html -->
{% extends 'mailing_service/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}

<h1 class="text-center margin-top-main">Mailing APP</h1>
<p class="text-center fw-light">Вы находитесь на сайте, предназначенном для рассылки электронных писем</p>
<div class="row">
    {% for mail in mailing %}
    <div class="col-4 d-flex justify-content-evenly" style="margin-bottom:20px">
        <div class="card text-center" style="width: 300px;  height:300px">
            <h5 class="card-header"> {{ mail.status }} </h5>
            <div class="card-body">
                <h5 class="card-title"> {{ mail.messages }} </h5>
                <p class="card-text"> Получатели:<br>{% for recipient in mail.recipients.all %} {{ recipient.full_name }}
                    {% endfor %} </p>
                <a href="#"
                   class="btn btn-outline-primary">Посмотреть</a>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="d-flex justify-content-evenly">
        <ul class="list-group" style="width: 800px;">
            <li class="list-group-item d-flex justify-content-between align-items-center bg-secondary-subtle">
                Общее количество созданных рассылок
                <span class="badge text-bg-primary rounded-pill">{{ total_mailings }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
                Общее количество активных рассылок
                <span class="badge text-bg-primary rounded-pill">{{ total_launched_mailings }}</span>
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center bg-secondary-subtle">
                Общее количество получателей
                <span class="badge text-bg-primary rounded-pill">{{ total_recipients }}</span>
            </li>
        </ul>
    </div>
</div>
{% endblock %}