<!-- home.html -->
{% extends 'mailing_service/base.html' %}

{% block title %}Рассылки{% endblock %}

{% block content %}

<h1 class="text-center margin-top-main">Рассылки</h1>
<div class="row">
    {% for mail in mailing %}
    <div class="col-4 d-flex justify-content-evenly" style="margin-bottom:20px">
        <div class="card text-center" style="width: 300px;  height:300px">
            <h5 class="card-header"> {{ mail.status }} </h5>
            <div class="card-body">
                <h5 class="card-title"> {{ mail.messages }} </h5>
                <p class="card-text"> Получатели:<br>{% for recipient in mail.recipients.all %} {{ recipient.full_name }}
                    {% endfor %} </p>
                {% if mail.created_by == user and perms.mailing.can_disable_mailing %}
                <a href="{% url 'mailing_service:detail_mailing_views' mail.pk %}"
                   class="btn btn-outline-primary">Посмотреть</a>
                <a href="{% url 'mailing_service:update_mailing_views' mail.pk %}"
                   class="btn btn-outline-primary">Редактировать</a>
                <div>
                    <form method="post" action="{% url 'mailing_service:disable_mailing_views' mail.id %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-secondary mt-1 mb-1" type="submit">Отмена публикации</button>
                    </form>
                </div>
                {% elif mail.created_by == user %}
                <a href="{% url 'mailing_service:detail_mailing_views' mail.pk %}"
                   class="btn btn-outline-primary">Посмотреть</a>
                <a href="{% url 'mailing_service:update_mailing_views' mail.pk %}"
                   class="btn btn-outline-primary">Редактировать</a>
                {% elif perms.mailing.can_disable_mailing %}
                <div>
                    <form method="post" action="{% url 'mailing_service:disable_mailing_views' mail.id %}">
                        {% csrf_token %}
                        <button class="btn btn-outline-secondary mt-1 mb-1" type="submit">Отмена публикации</button>
                    </form>
                </div>
                <a href="{% url 'mailing_service:detail_mailing_views' mail.pk %}"
                   class="btn btn-outline-primary">Посмотреть</a>
                {% else %}
                <a href="{% url 'mailing_service:detail_mailing_views' mail.pk %}"
                   class="btn btn-outline-primary">Посмотреть</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}