<!--nav_bar-->

<nav class="navbar sticky-top bg-body-tertiary">
    <div class="container-xxl bg-dark rounded-start high ">
        <a class="navbar-brand link-light border-bottom h4 pb-2 mb-2 border-opacity-50 border-light col-12"
           href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor"
                 class="bi bi-bootstrap align-top" viewBox="0 0 16 16">
                <path d="M5.062 12h3.475c1.804 0 2.888-.908 2.888-2.396 0-1.102-.761-1.916-1.904-2.034v-.1c.832-.14 1.482-.93 1.482-1.816 0-1.3-.955-2.11-2.542-2.11H5.062zm1.313-4.875V4.658h1.78c.973 0 1.542.457 1.542 1.237 0 .802-.604 1.23-1.764 1.23zm0 3.762V8.162h1.822c1.236 0 1.887.463 1.887 1.348 0 .896-.627 1.377-1.811 1.377z"/>
                <path d="M0 4a4 4 0 0 1 4-4h8a4 4 0 0 1 4 4v8a4 4 0 0 1-4 4H4a4 4 0 0 1-4-4zm4-3a3 3 0 0 0-3 3v8a3 3 0 0 0 3 3h8a3 3 0 0 0 3-3V4a3 3 0 0 0-3-3z"/>
            </svg>
            <span class="">
                                Меню
                            </span>
        </a>
        <ul class="nav flex-column margin-bottom">
            <li class="nav-item">
                <a class="nav-link active link-light" aria-current="page" href="{% url 'mailing_service:home_views' %}">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                         class="bi bi-house" viewBox="0 0 16 16">-->
                        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                    </svg>
                    <span class="fs-6">
                                        Главная
                                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'mailing_service:form_create_recipient_mailing_views' %}">
                    <img src="/media/icons/add_recipient.png" width="20" height="20">
                    <span class="fs-6">
                                        Добавить получателя
                                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'mailing_service:recipients_mailing_views' %}">
                    <img src="/media/icons/recipients.png" width="20" height="20">
                    <span class="fs-6">
                                        Получатели
                                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'mailing_service:form_create_message_views' %}">
                    <img src="/media/icons/create_message.png" width="20" height="20">
                    <span class="fs-6">
                                        Создать письмо
                                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'mailing_service:messages_views' %}">
                    <img src="/media/icons/message.png" width="20" height="20">
                    <span class="fs-6">
                                        Письма
                                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'mailing_service:form_create_mailing_views' %}">
                    <img src="/media/icons/create_mailing.png" width="20" height="20">
                    <span class="fs-6">
                                        Создать рассылку
                                    </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'mailing_service:mailing_views' %}">
                    <img src="/media/icons/mailing.png" width="20" height="20">
                    <span class="fs-6">

                                        Рассылки
                                    </span>
                </a>
            </li>
            {% if perms.customuser.can_view_all_custom_user_lists %}
            <li class="nav-item">
                <a class="nav-link link-light" href="{% url 'auth_users:custom_users_views' %}">
                    <img src="/media/icons/users.png" width="20" height="20">

                    <span class="fs-6">
                                        Пользователи
                                    </span>
                </a>
            </li>
            {% endif %}
        </ul>
        <div class="dropup-center dropup border-top h4 pt-3 mt-3 border-opacity-50 border-light col-12">
            <button class="btn btn-dark dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                {% if user.avatar %}
                <img src="{{ user.avatar.url }}"
                     class="rounded-circle" alt="" width="30">
                {% else %}
                <img src="#"
                     class="rounded-circle" alt="" width="30">
                {% endif %}
                Пользователь
            </button>
            {% if user.is_authenticated %}
            <form method="post" action="{% url 'auth_users:logout_views' %}">
                {% csrf_token %}
                <ul class="dropdown-menu">
                    <button type="submit" class="btn dropdown-item">Выйти</button>
                    <a class="dropdown-item" href="{% url 'auth_users:custom_user_detail_views' user.pk %}">Профиль</a>
                </ul>
            </form>
            {% else %}
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="{% url 'auth_users:login_views' %}">Войти</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'auth_users:register_views' %}">Регистрация</a></li>
            </ul>
            {% endif %}
        </div>
    </div>
</nav>