<div class="modal fade" id="not_found_recipients" tabindex="-1" aria-labelledby="not_found_recipientsLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="not_found_recipientsLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container">
                <div class="modal-body">
                    <h5> Вы не указали получателей!!! </h5>
                </div>
            </div>
            <div class="modal-footer mx-auto">
                <form method="post" action="{% url 'mailing_service:not_found_recipients_views' mailing.pk %}">
                    {% csrf_token %}
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                </form>
            </div>
        </div>
    </div>
</div>