{% extends 'base.html' %}

{% block title %}MahiruStore - Сообщения{% endblock %}

{% block content %}
<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Сообщения</h1>
    <a href="{% url 'message_new' %}" class="btn btn-primary">Добавить сообщение</a>
</div>
<div class="container">
    <div class="row">
        {% if messagess %}
        <div>
            <h2>Список сообщений</h2>
            <p>Всего сообщений: {{ messagess|length }}</p>
        </div>
        <div class="col-4">
            <div class="list-group" id="list-tab" role="tablist">
                {% for message in messagess %}
                <a class="list-group-item list-group-item-action" id="list-{{ message.id }}-list" data-bs-toggle="list" href="#list-{{ message.id }}" role="tab" aria-controls="list-{{ message.id }}">{{ message.subject }}</a>
                {% endfor %}
            </div>
        </div>
        <div class="col-8">
            <div class="tab-content" id="nav-tabContent">
                {% for message in messagess %}
                <div class="tab-pane fade" id="list-{{ message.id }}" role="tabpanel" aria-labelledby="list-{{ message.id }}-list">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="mb-1 text-muted card-title">Сообщение</h5>
                            <hr class="my-2">
                            <p class="card-text mb-1">Тема: <b>{{ message.subject }}</b></p>
                            <p class="card-text">Текст: <b>{{ message.body }}</b></p>
                            <hr>
                            <a href="{% url 'message_edit' message.id %}" class="btn btn-primary">Редактировать</a>
                            <form action="{% url 'message_delete' message.id %}" method="post" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-danger">Удалить</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <h1 class="text-center my-5">Нет сообщений</h1>
        {% endif %}
    </div>
</div>
{% include 'includes/toast.html'%}
{% include 'includes/script_list.html' %}
{% endblock %}