{% extends "mailing/base.html" %}
{% block title %}Пароль успешно сброшен{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center text-start">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card mt-4 mb-4 shadow-sm">
                <div class="card-body text-center">
                    <h2 class="mb-4">Пароль успешно сброшен</h2>
                    <p>Теперь вы можете <a href="{% url 'users:login' %}">войти</a> с новым паролем.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}