{% extends "mailing/base.html" %}
{% block title %}Письмо отправлено{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center text-start">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card mt-4 mb-4 shadow-sm">
                <div class="card-body text-center">
                    <h2 class="mb-4">Письмо отправлено</h2>
                    <p>Проверьте вашу почту для получения ссылки на восстановление пароля.</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}