{% extends "mailing/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Сброс пароля{% endblock %}

{% block content %}
<div class="container">
    <div class="row d-flex justify-content-center text-start">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card mt-4 mb-4 shadow-sm">
                <div class="card-body">
                    <h2 class="text-center mb-4">Установите новый пароль</h2>
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-primary w-100">Сбросить пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}