<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="row">
            <div class="col-8">
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'mailing:index' %}">Главная</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link " aria-current="page"
                               href="{% url 'mailing:mailing_list' %}">Рассылки</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mailing:recipientmailing_list' %}">Получатели</a>
                        </li>
                        {% if user.is_superuser %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mailing:message_list' %}">Сообщения</a>
                        </li>
                        {% endif %}
                        {% load my_tags %}
                        {% if user|in_group:"Пользователи" or  user.is_superuser%}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'mailing:attempt' %}">Статистика</a>
                        </li>
                        {% endif %}
                        {% endif %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                               aria-expanded="false">Пользователь</a>


                            <ul class="dropdown-menu">
                                {% if user.is_authenticated %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'users:logout' %}">Выход</a>
                                </li>
                                {% if user.is_superuser or user|in_group:"Менеджеры"%}
                                <li><a class="dropdown-item" href="{% url 'users:detail' user.pk%}">Профиль</a></li>

                                <li>
                                    <a class="dropdown-item" href="{% url 'users:users' %}">Список пользователей</a>
                                </li>
                                {% endif %}
                                {% else %}
                                <li>
                                    <a class="dropdown-item" href="{% url 'users:login' %}">Вход</a>
                                </li>
                                <li><a class="dropdown-item" href="{% url 'users:register' %}">Регистрация</a></li>

                                {%endif%}

                            </ul>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</nav>