<style>

    .sidebar {
        min-height: 100vh; /* Минимальная высота боковой панели */
    }
</style>

<div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
    <div class="offcanvas-md offcanvas-end bg-body-tertiary" tabindex="-1" id="sidebarMenu"
         aria-labelledby="sidebarMenuLabel">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="sidebarMenuLabel">Сервис управления рассылками</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#sidebarMenu"
                    aria-label="Close"></button>
        </div>

        <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
            <ul class="nav flex-column">

                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2 active" aria-current="page" href="{% url 'mailing:index' %}">
                        <svg class="bi">
                            <use xlink:href="/static/svg/icons-menu.svg#house-fill"/>
                        </svg>
                        Главная
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" href="{% url 'mailing:recipient_list' %}">
                        <svg class="bi">
                            <use xlink:href="/static/svg/icons-menu.svg#people"/>
                        </svg>
                        Получатели рассылки
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" href="{% url 'mailing:message_list' %}">
                        <svg class="bi">
                            <use xlink:href="/static/svg/icons-menu.svg#file-earmark-text"/>
                        </svg>
                        Рассылаемые сообщения
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" href="{% url 'mailing:mailing_list' %}">
                        <svg class="bi">
                            <use xlink:href="/static/svg/icons-menu.svg#play"/>
                        </svg>
                        Управление рассылками
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" href="{% url 'mailing:mailingattempt_list' %}">
                        <svg class="bi">
                            <use xlink:href="/static/svg/icons-menu.svg#graph-up"/>
                        </svg>
                        Информация о рассылках
                    </a>
                </li>




            <hr class="my-3">
            {% endif %}


            <ul class="nav flex-column mb-auto">

                {% if perms.users.can_block_user %}
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" href="{% url 'users:users' %}">
                        <svg class="bi">
                            <use xlink:href="/static/svg/icons-menu.svg#people"/>
                        </svg>
                        Пользователи системы
                    </a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <form method="post" action="{% url 'users:logout' %}">
                    {% csrf_token %}
                    <button type="submit" class="nav-link d-flex align-items-center gap-2">
                        <svg class="bi">
                            <use xlink:href="/static/svg/icons-menu.svg#door-closed"/>
                        </svg>
                        Выход
                    </button>
                    </form>
                </li>

                {% else %}

                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" href="{% url 'users:login' %}">
                        <svg class="bi">
                            <use xlink:href="/static/svg/icons-menu.svg#door-open"/>
                        </svg>
                        Войти
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link d-flex align-items-center gap-2" href="{% url 'users:register' %}">
                        <svg class="bi">
                            <use xlink:href="/static/svg/icons-menu.svg#person-plus"/>
                        </svg>
                        Регистрация
                    </a>
                </li>

                {% endif %}

            </ul>
            </ul>

        </div>
    </div>
</div>